* {
    margin: 0;
}


.infinite-scroll-component {

    display:grid!important; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%!important;
    background-color: var(--text);
    padding-bottom: 25px;
}

@media (max-width:480px) {
    .infinite-scroll-component {
        display: grid!important;
        grid-template-columns: 1fr;

    }
}