.search_Wrapper {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--headers);
}

.search_Wrapper > input {
    width: 50vw;
    background: none;
    border: none;
    border-bottom: 1px solid var(--text);
    color: var(--text);
}

.search_Wrapper > input:focus {
    outline: none;
}