/* ProductCard.css */
.home_product_card_wrapper {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .home_product_card_wrapper:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card_img_top {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    min-height: 25vh;
    max-height: 25vh;
  }
  
  .product_card_middle {
    padding: 10px;
  }
  
  .home_product_card_body {
    padding: 10px 0;
  }
  
  .product_card_body {
    margin-bottom: 10px;
  }
  
  .card-title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .params_wrapper {
    margin-top: 5px;
  }
  
  .params_wrapper p {
    font-size: 14px;
    margin: 3px 0;
  }
  
  .card_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .card_price {
    font-size: 16px;
    font-weight: bold;
  }
  
  .card_footer a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
    transition: color 0.3s ease;
  }
  
  .card_footer a:hover {
    color: #0056b3;
  }
  