.home_product_card_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    min-height: 300px;
    max-height: 300px;
    width: 15vw;
    border-radius: 3px;
    background-color: var(--dirtyWhite);
    box-shadow: 1px 1px 1px 1px gray;
}
.home_product_card_body {
    display: flex;
    flex-direction: column;
    color: var(--headers);
    height: 100%;
    justify-content: space-around;
    margin-top: 5px;

}
.card_img_top {
    width: 100%;
    height: 50%;
    max-height:125px ;
    margin: 0;
    padding: 0;
}
.card-title {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 5px;
}
.params_wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--lowGrey);
    padding-top: 5px;
}
.params_wrapper > p {
    margin-bottom: 2.5px;
    border-bottom: 1px solid white;
    margin-right: 15px;
    font-weight: bold;
}

.product_card_wrapper {
    padding-left: 15px;
    padding-top: 15px;
    width: 45vw;
    height: 45vh;
    background-color: var(--night);
    margin: 5px;
}
.product_card_wrapper > a {
    display:flex;
    justify-content: space-between;
    margin: 0 25px;
    color: var(--text);
}
.card_price {
    font-size: 1.5rem;
}

.product_card_body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
}

.card_footer {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--indigo);
    background-color: var(--lowGrey);
    padding-left: 5px;
}
.card_footer > a{
    background-color: var(--indigo);
    padding: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 3px;
}