.profile_head {
    background-color: var(--night);
}

.seller_avatar_wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.seller_profile_avatar_wrapper {
    display: flex;
    justify-content: center;
}

.seller_profile_avatar {
    width: 100vw;
    height: 350px;
}

.seller_profile_info {
    display: flex;
    justify-content: space-around;
    background-color: var(--headers);
    height: 55px;
}
.seller_profile_info > p {
    display: flex;
    align-items: center;
    color: var(--text);
    border-radius: 15px;
    padding: 5px;
    opacity: 0.8;
}
.edit_profile_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--headers);
    padding-left: 50px;
    height: 35px;
    color: var(--orange);
}
.edit_profile_icon > a {
    color: var(--lowBlue);
    font-size: 1.2rem;
    font-weight: 400;
}
.edit_profile_icon svg {
    margin-left: 15px;
}

.seller_list_menu {
    display: flex;
    align-items: center;
    padding-left: 35px;
    height: 50px;
    background-color: var(--headers);
}
.seller_list_menu > button {
    background: none;
    border: none;
    height: 35px;
    width: 125px;
    color: var(--text);
    margin: 15px;
    background-color: var(--lowBlue);
    border-radius: 3px;
    transition: 0.3s;
}

.seller_list_menu > button:hover {
    cursor: pointer;
    background-color: var(--indigo);
}

.profile_active_sales {
    margin-bottom: 15px;
}
/* edit profile  */

.edit_profile_form {
    background-color: var(--dirtyWhite);
}

.edit_profile_avatar {
    height: 30vh;
}
.edit_profile_input {
    padding-left: 5vw;
    background-color: rgba(94, 92, 92, 15%);
}
.edit_input {
    background: none;
    border: none;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-bottom: 1px solid var(--headers);
}
.edit_input_btn {
    background-color: rgba(94, 92, 92, 15%);
}
.edit_input_btn span svg {
    font-size: 2rem;
    fill: var(--indigo);
    padding-left: 5vw;
}


/* Seller Profile  */

.profile_row {
    padding-left: 3vw;
}
.modal_contact_seller {
    padding-left: 5vw;
}
.contact_seller_textarea {
    background: none;
    border: none;
    border-bottom: 1px solid var(--headers);
    width: 15vw;
}
.seller_modal_footer {
    padding-top: 2vh;
}
.seller_modal_footer button {
    width: 8vw;
    height: 3vh;
    margin-left: 1vw;
    border-radius: 5px;
    background: none;
    border: none;
    background-color: var(--orange);
    color: var(--text);
    
}
.seller_profile_body p {
    border-bottom: 1px solid var(--text);
}
.seller_profile_body {
    padding-bottom: 2vh;
}
/* mobile  */

@media (max-width:490px) {
    .seller_profile_info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .profile_svg {
        fill: wheat;
    }
    .profile_sells {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .seller_modal_footer button {
        width: 18vw;
    }
    .close {
        width: 10vw;
    }
    }
