/* Messenger.css */
.messages-container {
    padding: 10px;
  }
  
  .messages-header {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .messenger-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    width: 100%;
  }
  
  .messenger-wrapper_aside {
    width: 100%;
  }
  
  .chat_connections_wrapper {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .chat_connections {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .chat_connections:hover {
    background-color: #f2f2f2;
  }
  
  .chat_connections a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
  }
  
  .chat_connections img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .chat_connections span {
    font-size: 16px;
    font-weight: bold;
    white-space: normal;
    word-wrap: break-word;
  }
  
  .chat_article_wrapper {
    width: 100%;
  }
  
  .chat_member_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .chat_member_wrapper a {
    color: var(--headers);
  }
  .message_wrapper {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  .messenger_wrapper_aside {
    overflow-y: scroll;
  }
  .message {
    padding: 5px;
    margin: 5px 0;
    border-radius: 8px;
    font-size: 1rem;
    white-space: normal;
    word-wrap: break-word;
  }
  
  .me {
    text-align: right;
    padding-bottom: 2vh;
  }
  
  .not-me {
    text-align: left;
    padding-bottom: 2.5vh;
  }
  
  .message_write_wrapper {
    margin-top: 10px;
  }
  
  .message_place {
    width: 100%;
    height: 80px;
    padding: 10px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .message_btn {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .close-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
  }
  