.messenger_wrapper  {
    display: grid;
    grid-template-columns: 1fr 6fr;
    background-color: var(--headers);
    min-height: 75vh;
}
.messenger_wrapper_aside {
    height: 100%;
    background-color: var(--headers);
}
.messages_header {
    padding-top: 15px;
    background-color: var(--headers);
    text-align: center;
    color: var(--text);
    border-bottom: 1px solid var(--lowGrey);
    width: 100vw;
}
.chat_connections_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat_connections {
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 1vh 1vw;
    width: 10vw;
    opacity: 0.7;
    border: 3px solid var(--lowGrey);
    border-radius: 5vh;
    transition: 0.4s;
}
.chat_connections a {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.chat_connections a span {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    font-weight: bold;
}
.chat_connections:hover {
    opacity: 1;
    border-color: var(--lowBlue);
}
.chat_connections > a:hover {
    color: var(--lowBlue);
}

.chat_connections > a > img {
    width: 75px;
    height: 50px;
    padding-left: 15px;
}

/* Article */

.chat_article_wrapper {
    /* background-color: var(--dirtyWhite); */
    background-color: var(--headers);
}

.chat_member_wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    background-color: var(--headers);
    border-top: 3px solid var(--headers);
}
.chat_member_wrapper > a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chat_member_wrapper > a > span {
    color: var(--text);
    font-size: 1.2rem;
}

/* Message  */

.message_wrapper {
    background-color: var(--headers);
    min-height: 50vh;
    max-height: 50vh;
    overflow-y: scroll;
}

.not-me {
    margin-left: 5vw;
    margin-bottom: 3vh;
    margin-top: 2vh;

}
.not-me > span {
    font-size: 1rem;
    padding: 10px;
    background-color: var(--orange);
    border-radius: 15px;
    color: var(--text);
}

.me {
    display: flex;
    justify-content: flex-end;
    margin-right: 5vw;
    margin-bottom: 1.5vh;
}

.me > span {
    font-size: 1rem;
    padding: 10px;
    background-color: var(--lowBlue);
    border-radius: 15px;
    color: var(--text);
}

/* ///////////// */

.message_write_wrapper {
    display: flex;
    justify-content: center;
    background-color: var(--headers);
    height: 75px;
    display: flex;
    align-items: center;
}

.message_send_area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.message_place {
    resize: none;
    border: none;
    background-color: var(--text);
    margin: 0;
    height: 32px;
    width: 25vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 12px;
}
.message_place:focus {
    outline: none;
}

.message_btn {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 10px;
    margin: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--indigo);
    color: var(--text);
    border: none;
    transition: 0.2s;
}
.message_btn:hover {
    background-color: var(--lowBlue);
}

/* mobile  */

@media (max-width:490px) {
    .messenger_wrapper {
        width: 100%;
        overflow-y: hidden;
    }
    .chat_connections_wrapper {
        width: 20vw;
        margin-left: 5vw;
    }
    .chat_connections {
        border: none;
    }
    .chat_connections a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .chat_connections a span {
        font-size: 0.9rem;
    }
}