/* Categories.css */
.categories_nav_wrapper {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.categories_nav_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.categories_nav_btn {
    background-color: var(--lowBlue);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.categories_nav_btn:hover {
   background-color: #00bcd4;
    
}

.categories_nav_btn_other_wrapper {
    text-align: center;
    margin-top: 10px;
}

.categories_nav_btn_other {
    background-color: transparent;
    color: var(--lowBlue);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.categories_nav_btn_other:hover {
    color: #00bcd4;
}

/* Categories.css */
.dropdown-sort {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.sort {
    margin-right: 10px;
    font-size: 18px;
}

.categories_btn_wrapper {
    display: flex;
    align-items: center;
}

.categories_btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.categories_btn svg {
    margin-right: 5px;
    font-size: 18px;
}

.categories_btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .dropdown-sort {
        flex-direction: column;
        align-items: center;
    }

    .sort {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .categories_btn {
        display: flex;
        margin-right: 0;
        margin-bottom: 8px;
        width: 100%;
        background: none;
        color: black;
    }
}