/* Aside Wrapper */
aside {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
  }
  
  .aside_product_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .product_price_heading {
    font-size: 16px;
    margin-right: 10px;
  }
  
  .product_edit_icons {
    display: flex;
    align-items: center;
  }
  
  .product_price_header {
    font-size: 24px;
    color: #ff5722;
  }
  
  .aside_contact_seller_btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .aside_contact_seller_btn:hover {
    background-color: #0056b3;
  }
  
  .aside_seller_avatar {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .seller_avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .aside_seller_body p {
    margin-bottom: 10px;
    color: var(--headers);
  }
  
  .guest_msg a {
    color: #007bff;
  }
  
  /* Modal Styles */
  .modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-dialog {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .msg_header {
    font-size: 20px;
  }
  
  .modal_body {
    margin-top: 10px;
  }
  
  .form_group {
    margin-bottom: 20px;
  }
  
  .form_control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  .modal_footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  .msg_sned_btn {
    background-color: #007bff;
    color: white;
    margin-right: 10px;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .msg_sned_btn:hover {
    background-color: #0056b3;
  }
  
  .msg_close_btn {
    background-color: #f7f7f7;
    color: #333;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .msg_close_btn:hover {
    background-color: #ddd;
  }
  