/* Header.css */
.header_wrapper {
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 100vw;
    margin: 0 auto;
  }
 
  
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
  }
  .logo a img {
    width: 155px;
  }

  .support_nav h3 svg{
    margin-right: 10px;
  }
.support_nav h3{
  margin-bottom: 10px;
  margin-left: 10px;
}
.support_nav a {
  margin-left: 15px;
}
.support_nav a svg {
  margin-right: 5px;
}
.nav_support_links {
  display: flex;
}
.whatsapp {
  display: flex;
  color: #25D366;
}

.telegram {
  display: flex;
  color: #0088cc;
}

  .header_container_rightSide {
    display: flex;
    align-items: center;
  }
  
  .nav_item,
  .signIn_nav_item,
  .signUp_nav_item {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav_item:hover,
  .signIn_nav_item:hover,
  .signUp_nav_item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffcc29;
  }
  .add_a_sell {
    display: flex;
  }
  .add_a_sell > p{
    margin-left: 1vw;
  }
  
  .navImg {
    width: 75px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-item {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
  }
  
  .dropdown-item:hover {
    background-color: #f2f2f2;
  }
  
  .signOutButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #ffcc29;
    font-size: 16px;
    margin-left: 10px;
  }

  @media (max-width: 518px) {
    .nav_support_links {
      display: flex;
      justify-content: flex-start;
      margin-right: 50px;
    }
    .support_nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  @media (max-width: 768px) {
    .logo a img {
      width: 75px;
    }
    .support_nav h3{
      font-size: 14px;
    }
    .add_a_sell p {
      font-size: 12px;
    }
    .whatsapp p,.telegram p {
      display: none;
    }
    .nav_support_links {
      display: flex;
      justify-content: center;
    }
  }


