.header_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: var(--headers);
}

.header_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}

.logo > a {
    display: flex;
    align-items: center;
}
.parts {
    background-color: var(--lowGrey);
    padding: 5px;
    font-size: 2rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.hub {
    margin-top: 3px;
    background-color: var(--orange);
    color: var(--text);
    padding: 2px;
    font-size: 1.6rem;

}

.logIn_wrapper {
    display: flex;
    align-items: center;
    margin-right: 1.5vw;
}

.signIn_nav_item {
    margin-right: 1vw;
    color: var(--text);
    transition: 0.4s;
    background-color: var(--orange);
    padding: 0.4vh 0.8vw;
    border-radius: 2px;
    font-weight: 600;
}

.signIn_nav_item:hover {
    background-color: var(--headers);
}

.signUp_nav_item {
    
    background-color: var(--indigo);
    padding: 1vh 1vw;
    font-weight: 600;
    border-radius: 2px;
    color: var(--text);
    transition: 0.4s;
}

.signUp_nav_item:hover {
    background-color: var(--headers);
}

/* Logined */

.logged_in_nav_wrapper {
    display: flex;
}

.nav_item {
    margin-top: 5px;
    margin-right: 15px;
    color: var(--lowBlue);
}

.nav_item:hover {
    color: var(--body);
}

.dropdown {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.navImg {
    width: 45px;
    height: 45px;
    margin: 5px;
}

.dropdown-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-content> a {
    margin: 0 5px;
    color: var(--lowBlue);
}

.dropdown-content>a:hover {
    color: var(--body);
}

.dropdown-content svg {
    margin-right: 5px;
}

@media (max-width:490px) {
    .header_wrapper {
        width: 100vw;
    }
    .dropdown-content > a >p {
        font-size: 0;
    }
    .parts {
        font-size: 1rem;
    }
    .hub {
        font-size: 0.9rem;
    }
}