.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    overflow-x: hidden;
  }
  
  .auth-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .auth_heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .login_form_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2vw;
  }
  
  .login_input_wrapper,
  .password_wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login_input_wrapper label,
  .password_wrapper label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
  }
  
  .login_input_wrapper input,
  .password_wrapper input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .login_sign_btn,
  .wait_btn {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff9900;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .login_sign_btn:hover,
  .wait_btn:hover {
    background-color: #e68a00;
  }
  
  .bottom-msg-paragraph {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .bottom-msg-paragraph a {
    color: #ff9900;
    text-decoration: none;
  }
  
  .bottom-msg-paragraph a:hover {
    text-decoration: underline;
  }
  .reg_auth-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    overflow-x: hidden;
  }
  
  .auth_heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  
  .login_input_wrapper label,
  .password_wrapper label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
  }
  
  .login_input_wrapper input,
  .password_wrapper input,
  .gender_select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .form-text.muted {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
  }
  
  .login_sign_btn,
  .wait_btn {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff9900;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .login_sign_btn:hover,
  .wait_btn:hover {
    background-color: #e68a00;
  }
  
  .bottom-msg-paragraph {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .bottom-msg-paragraph a {
    color: #ff9900;
    text-decoration: none;
  }
  
  .bottom-msg-paragraph a:hover {
    text-decoration: underline;
  }
  

@media (max-width: 767px) {
    .reg_auth-form {
      max-width: 100%;
      padding: 10px;
    }
    
    .auth_heading {
      font-size: 20px;
    }
    
    .login_input_wrapper input,
    .password_wrapper input,
    .gender_select {
      font-size: 14px;
      max-width: 75vw;
    }
    
    .login_sign_btn,
    .wait_btn {
      font-size: 16px;
      padding: 8px 16px;
    }
    
    .bottom-msg-paragraph {
      font-size: 12px;
    }
  }
  
  /* Добавляем стили для планшетов */
  @media (min-width: 768px) and (max-width: 1023px) {
    .reg_auth-form {
      max-width: 80%;
      padding: 15px;
    }
    
    .auth_heading {
      font-size: 22px;
    }
    
    .login_input_wrapper input,
    .password_wrapper input,
    .gender_select {
      font-size: 16px;
    }
    
    .login_sign_btn,
    .wait_btn {
      font-size: 18px;
      padding: 10px 20px;
    }
    
    .bottom-msg-paragraph {
      font-size: 14px;
    }
  }
  